.contact-form {
  text-align: center;
}

.contact-form .captcha {
  width: 304px;
  margin: auto;
}

.double-input > div {
  display: inline-block;
  width: 45%;
  vertical-align: middle;
}

.double-input div:first-child {
  margin-right: 10%;
}

.form {
  padding: 1em 0;
}

.form > div {
  margin-bottom: 2em;
}

.form > div:last-child {
  margin-bottom: 0;
}

.padded.box {
  padding: 18px;
}

.padded-side.box {
  padding: 0 18px;
}

.white.box {
  background-color: white;
}

.box {
  background: inherit;
  border-radius: 3px;
  box-shadow: 0 0 12px rgba(192, 192, 192, 0.6);
}

.submit-btn {
  width: 33%;
  margin: 1.2rem auto 0;
  cursor: pointer;
}

.submit-btn.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}