.contact-form {
  text-align: center;
}

.contact-form .captcha {
  width: 304px;
  margin: auto;
}

.double-input > div {
  display: inline-block;
  width: 45%;
  vertical-align: middle;
}

.double-input div:first-child {
  margin-right: 10%;
}

.form {
  padding: 1em 0;
}

.form > div {
  margin-bottom: 2em;
}

.form > div:last-child {
  margin-bottom: 0;
}

.padded.box {
  padding: 18px;
}

.padded-side.box {
  padding: 0 18px;
}

.white.box {
  background-color: white;
}

.box {
  border-radius: 3px;
  box-shadow: 0 0 12px rgba(192, 192, 192, 0.6);
}

.success-message {
  display: inherit;
  text-align: center;
  margin-top: 6px;
}

.submit-btn {
  width: 20%;
  padding: 12px 0;
  background-color: #e7cfb4;
  margin: 1.2rem auto 0;
  cursor: pointer;
}

.submit-btn.disabled {
  cursor: not-allowed;
}

.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}