@import '../../style/variables';

$nav-padding: 0.55rem;

.site-header {
  margin-bottom: calc(#{$standard-margin} * 2);
  position: -webkit-sticky;
  position: sticky;
  top: -62px; /* exact height of (title - .nav-bar padding-bottom) */
  z-index: 999;
}

.site-header .page-wrapper {
  display: flex;
}

.site-header .title {
  padding: 1rem 1rem $nav-padding;
}

.site-header .hamburger {
  display: none;
}

.site-header .nav-bar {
  padding-bottom: $nav-padding;
}

.site-header .nav-bar .nav-item {
  margin: 0 $standard-margin;
}

.site-header .nav-bar .plain-link.active {
  font-weight: bold;
  color: $red-wood;
}

@media (max-width: 960px) {
  .site-header {
    top: 0;
    margin-bottom: 0;
  }

  .site-header .hamburger {
    display: block;
  }

  .site-header .nav-bar {
    display: none;
  }
}