@import 'variables';

.site-header {
  @extend %heavy-shadow;
  background: $bassoon;
  color: white;
  margin-bottom: calc(#{$standard-margin} * 2);
  position: -webkit-sticky;
  position: sticky;
  top: -62px; /* exact height of (title - .nav-bar padding-bottom) */
  z-index: 10;
}

.site-header .page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-header .title {
  padding: $nav-padding $standard-margin;
}

.site-header .title h1 {
  margin: 0;
}

.site-header .mobile-button {
  height: 25px;
  width: 25px;
}

@media (max-width: 480px) {
  .site-header {
    top: 0;
    margin-bottom: 0;
  }

  .site-header .page-wrapper {
    justify-content: space-between;
  }
}