.container {
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

.modal .children {
  width: 50%;
}

.padded.box {
  padding: 18px;
}

.white.box {
  background-color: white;
}

.box {
  background: inherit;
  border-radius: 3px;
  box-shadow: 0 0 12px rgba(192, 192, 192, 0.6);
}

.float-left {
  float: left;
}

.half {
  width: 50%;
}

.text-right {
  padding-right: 1.5em;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em auto;
}

#banner {
  background-image: url('./sheet-music.png');
  background-position: center;
  background-size: cover;
  margin: 2em auto;
  padding: 1em 9em;
  display: inline-block;
}

.title {
  background: none;
  font-weight: 400;
  font-size: 2em;
  text-align: center;
  display: inline-block;
  padding: 0 1em;
  white-space: nowrap;
}

.body {
  width: 75%;
  max-width: 1200px;
  padding: 2em 0 2.5em;
  margin: auto;
  background: #FFF;
}

.content {
  width: 80%;
  margin: auto;
  text-align: justify;
}

.footer {
  text-align: center;
  width: 100%;
  margin: 2em 0;
}

.footer a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.footer a:hover,
.footer a:active {
  color: #84240C;
}

.close-form-x {
  color: inherit;
  display: block;
  margin-top: -15px;
  margin-right: -10px;
}

.close-form-x:hover {
  color: red;
}

/* MENU COMPONENT */

.menu {
  width: 60%;
  margin: 0 auto 2em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #666;
}

.menu .option {
  color: #666;
  font-size: 1.1em;
  text-align: center;
  width: 20%;
  margin: 0 2.5%;
  padding: 0 0 3px;
  display: inline-block;
  cursor: pointer;
}

.menu .option:hover,
.menu .option:active {
  color: #000;
}

.menu .option.selected {
  color: #F0F0F0;
  background-color: #563232;
  border-radius: 100px;
}

.menu .option.selected:hover,
.menu .option.selected:active {
  color: #FFF;
}

/* END MENU COMPONENT */

@media (max-width: 1224px) {
  .content {
    width: 90%;
  }
  /* MENU COMPONENT */
  .menu {
    width: 80%;
  }
}

@media (max-width: 820px) {
  .header {
    margin: 1em 0;
  }
  #banner {
    padding: .5em 3.5em;
  }
  .title {
    padding: 0 0.2em;
  }
  .body {
    width: 90%;
    padding: 0 0 1em;
  }
  .content {
    width: 95%;
  }
  .footer {
    margin: 0.3em 0;
    font-size: 1.2em;
  }
  .modal .children {
    width: 75%;
  }
  /* MENU COMPONENT */
  .menu {
    width: 100%;
    background-color: #FFF;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 0;
    line-height: 2em;
    border-radius: 3px 3px 0 0;
    margin: 0 0 1em;
  }
  .menu .option {
    font-size: 1em;
    width: 25%;
    margin: 0;
  }
  .menu .option.selected {
    border-radius: 0;
  }
  .menu .option:first-child {
    border-top-left-radius: 3px;
  }
  .menu .option:last-child {
    border-top-right-radius: 3px;
  }
}

@media (max-width: 500px) {
  .header {
    margin: 0.5em 0;
  }
  .body {
    width: 99%;
  }
  .modal .children {
    width: 99%;
  }
}