@import 'variables';

.site-header .page-wrapper {
  display: flex;
}

.site-header .title {
  padding: $standard-margin $box-padding;
}

.site-header .hamburger {
  display: none;
}

.site-header .nav-bar .nav-item {
  margin: 0 $standard-margin;
}